.text {
    &.green {
        color: var(--color-green);
    }

    &.red {
        color: var(--color-red);
    }

    &.purple {
        color: var(--color-purple);
    }

    &.primary {
        color: var(--color-primary);
    }

    &.secondary {
        color: var(--color-secondary);
    }

    &.align {
        &_center {
            text-align: center;
        }

        &_start {
            text-align: start;
        }

        &_end {
            text-align: end;
        }
    }

    &.size {
        &_20_600 {
            font: var(--font-20-600-26);
        }

        &_14_400 {
            font: var(--font-14-400-20);
        }

        &_14_600 {
            font: var(--font-14-600-20);
        }

        &_12_400 {
            font: var(--font-12-400-16);
        }
    }
}
