.content {
    border-radius: 1.2rem;
    padding: 3.2rem;
    width: 46rem;
    background: var(--color-white);

    &_opened {
        animation: forwards content-opened var(--transition-timeout-500);
    }

    &_closed {
        animation: forwards content-closed var(--transition-timeout-500);
    }
}

@keyframes content-opened {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
}

@keyframes content-closed {
    100% {
        opacity: 0;
        transform: scale(0.1);
    }
}

