.input {
    outline: none;
    transition: all var(--transition-timeout-200);

    &.primary,
    &.secondary {
        border: 0.1rem solid var(--color-black-16);
        border-radius: 0.4rem;
        padding: 1.2rem;
        font: var(--font-14-400-20);
        color: var(--color-primary);

        &::placeholder {
            color: var(--color-black-48);
        }
    }

    &.primary {
        width: 27.4rem;

        &:hover,
        &:focus {
            border: 0.1rem solid var(--color-purple);
        }
    }

    &.secondary {
        width: 37.4rem;
        background: var(--color-black-4);

        &:hover,
        &:focus {
            border: 0.1rem solid var(--color-purple);
        }
    }

    &.valid.valid {
        border: 0.1rem solid var(--color-green);
    }

    &.not_valid.not_valid {
        border: 0.1rem solid var(--color-red);
    }
}

.text {
    height: 1.6rem;
}

@media (width <= 530px) {
    .input {
        &.secondary {
            width: 20rem;
            background: var(--color-black-4);
        }
    }
}
