.input {
    outline: none;
    transition: all var(--transition-timeout-200);

    &.primary {
        border: 0.1rem solid var(--color-black-16);
        border-radius: 0.4rem;
        padding: 1.2rem;
        font: var(--font-14-400-20);
        color: var(--color-primary);

        &::placeholder {
            color: var(--color-black-48);
        }

        &:hover:not(:disabled),
        &:focus:not(:disabled) {
            border: 0.1rem solid var(--color-purple);
        }
    }

    &.disabled {
        background: var(--color-black-4);
    }

    &.size_300 {
        width: 27.4rem;
    }

    &.size_400 {
        width: 37.4rem;
    }

    &.valid.valid {
        border: 0.1rem solid var(--color-green);
    }

    &.not_valid.not_valid {
        border: 0.1rem solid var(--color-red);
    }
}

.text {
    height: 1.6rem;
}

@media (width <= 530px) {
    .input {
        &.size_400 {
            width: 20rem;
        }
    }
}

@media (width <= 450px) {
    .input {
        &.size_300 {
            width: 20rem;
        }
    }
}
