@font-face {
    src: local("SB Sans Interface"),
        url("../assets/fonts/SB_Sans_Interface.woff") format("woff");
    font-family: "SB Sans Interface Regular";
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: local("SB Sans Interface"),
        url("../assets/fonts/SB_Sans_Interface.woff") format("woff");
    font-family: "SB Sans Interface Semibold";
    font-weight: 600;
    font-style: normal;
}