* {
    margin: 0;
    padding: 0;
}

html {
    // Для удобства 1rem = 10px
    font-size: 10px;
}

body {
    overflow-x: hidden;
}

button {
    border: none;
    background: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

