@use "./fonts.scss" as *;

:root {
    // colors
    --color-primary: rgb(51 51 51 / 100%);
    --color-secondary: rgb(102 102 102 / 100%);
    --color-purple: rgb(85 88 250 / 100%);
    --color-purple-85: rgb(85 88 250 / 85%);
    --color-white: rgb(255 255 255 / 100%);
    --color-black-4: rgb(0 0 0 / 4%);
    --color-black-8: rgb(0 0 0 / 8%);
    --color-black-16: rgb(0 0 0 / 16%);
    --color-black-24: rgb(0 0 0 / 24%);
    --color-black-48: rgb(0 0 0 / 48%);
    --color-black: rgb(0 0 0 / 100%);
    --color-green: rgb(5 174 113 / 100%);
    --color-green-15: rgb(5 174 113 / 15%);
    --color-red: rgb(232 78 88 / 100%);
    --color-red-15: rgb(232 78 88 / 15%);

    // font family
    --font-family-primary-regular: "SB Sans Interface Regular";
    --font-family-primary-semibold: "SB Sans Interface Semibold";

    // fonts
    --font-20-600-26: 2rem / 2.6rem var(--font-family-primary-semibold);
    --font-14-400-20: 1.4rem / 2rem var(--font-family-primary-regular);
    --font-14-600-20: 1.4rem / 2rem var(--font-family-primary-semibold);
    --font-12-400-16: 1.2rem / 1.6rem var(--font-family-primary-regular);

    // stepper
    --stepper-atom-background: rgb(166 166 166 / 100%);
    --stepper-number-color: rgb(102 102 102 / 100%);

    // transition
    --transition-timeout-500: 0.5s;
}

