.flex {
    display: flex;

    &.justify_content {
        &_normal {
            justify-content: normal;
        }

        &_start {
            justify-content: flex-start;
        }

        &_center {
            justify-content: center;
        }

        &_end {
            justify-content: flex-end;
        }

        &_space_between {
            justify-content: space-between;
        }
    }

    &.align_items {
        &_normal {
            align-items: normal;
        }

        &_start {
            align-items: flex-start;
        }

        &_center {
            align-items: center;
        }

        &_end {
            align-items: flex-end;
        }
    }

    &.direction {
        &_row {
            flex-direction: row;
        }

        &_column {
            flex-direction: column;
        }
    }

    &.wrap {
        &_nowrap {
            flex-wrap: nowrap;
        }

        &_wrap {
            flex-wrap: wrap;
        }
    }

    &.max {
        width: 100%;
    }

    &.grow {
        &_1 {
            flex-grow: 1;
        }
    }
}
